    {{>header}}
    <form id="myForm">
        <input type="text" id="location" class="form-control">
        <button>Submit</button>
    </form>
    <div id="weather">
    <h2 id="address"></h2>
    <h2 id="forecast"></h2>
    <h2 id="error"></h2>
    </div>
    {{>footer}}
